.custom-divider {
    width: 3%;
    height: 7px;
    background: $color-dark;
    margin-inline: auto;
    border-radius: 50px;
    margin-bottom: 5%;
}

.custom-space {
    background: white;
    height: 100vh;
}