@import "../../../../../variables.scss";
@import "../../../../../default-styles.scss";

.item-container {
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-inline: auto;
    position: relative;

    .add-btn {
        position: absolute;
        top: 2%;
        right: 5%;
        background: none;
        color: $color-sec;
        border: none;
        cursor: pointer;
        transition: scale 0.3s;
        z-index: 999;

        &:hover {
            color: $color-dark;
            scale: 1.1;
        }

        &:active {
            scale: 0.9;

            .material-symbols-outlined {
                font-variation-settings:
                    'FILL' 100,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 40
            }
        }

        .material-symbols-outlined {
            transition: all 0.3s;

            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 40
        }
    }

    .img-container {
        height: 350px;
        border: 2px solid $bg-color;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 70%;
            max-width: 70%;
            object-fit: contain;
            transition: 0.4s ease-out;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        .title-container {
            display: flex;
            flex-direction: column;
            gap: 5px;

            h3 {
                color: $color-sec;
            }
        }

        .price-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.item-container:hover img {
    scale: 1.1;
}