<app-navbar></app-navbar>
<div class="product-container">
    <div class="img-container">
        <img [src]="selectedProduct.image" [alt]="selectedProduct.title">
    </div>
    <div class="content-container">
        <div class="title-container">
            <h1>{{selectedProduct.title}}</h1>
            <h2>{{selectedProduct.category | titlecase}}</h2>
            <h3>{{selectedProduct.description}}</h3>
        </div>
        <p class="price">${{selectedProduct.price}}</p>
        <button (click)="addToCart(selectedProduct)">
            <h3>Add to Cart</h3>
        </button>
    </div>
</div>
<app-products-swiper [toDisplay]="selectedProduct.category" [related]="true"></app-products-swiper>
<hr class="custom-divider">