<app-navbar></app-navbar>
@if(isLoading()) {
<div class="custom-space"></div>
}
@else{
<div class="product-container">
    <div class="img-container">
        <img [src]="selectedProduct.image" [alt]="selectedProduct.title">
    </div>
    <div class="content-container">
        <div class="title-container">
            <h1>{{selectedProduct.title}}</h1>
            <h2>{{selectedProduct.category | titlecase}}</h2>
            <h3>{{selectedProduct.description}}</h3>
        </div>
        <p class="price">${{selectedProduct.price}}</p>
        <button class="custom-btn" (click)="addToCart(selectedProduct)">
            <h2>Add to Cart</h2>
        </button>
    </div>
</div>
<app-products-swiper [toDisplay]="selectedProduct.category" [excluded]="selectedProduct"></app-products-swiper>
}
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<hr class="custom-divider">