@import "../../../../../variables.scss";

.title-container {
    width: 100%;
    margin-left: 10%;
    display: flex;
    align-items: center;

    h1 {
        white-space: nowrap;
        font-weight: 600;
    }

    .decorative-line {
        width: 100%;
        height: 5px;
        background: $color-dark;
        margin-left: 2%;
    }
}

.spinner-container {
    width: 10%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    position: relative;
    height: 300px;
}

swiper-container {
    width: 100%;
    margin: 3% 0% 5% 10%;

    swiper-slide {
        width: 250px !important;
    }
}