<nav class="navbar">
    <a class="logo-container" routerLink="/home">
        <img [src]="imgUrls.logoUrl" alt="">
    </a>
    <div *ngIf="!isLogin" class="nav-paths">
        <a routerLink="/collection">
            <h3>MEN</h3>
        </a>
        <img class="nav-dot" [src]="imgUrls.dotUrl" alt="">
        <a routerLink="/collection">
            <h3>WOMEN</h3>
        </a>
        <img class="nav-dot" [src]="imgUrls.dotUrl" alt="">
        <a routerLink="/collection">
            <h3>COLLECTION</h3>
        </a>
    </div>
    <div *ngIf="!isLogin" class="search-bar">
        <app-searchbar></app-searchbar>
    </div>
    <div *ngIf="!isLogin" class="nav-icons">
        <div class="nav-icon" (click)="toggleActive()">
            <button mat-icon-button>
                <mat-icon class="material-symbols-outlined" [matBadgeHidden]="cart().length == 0"
                    [matBadge]="cart().length" matBadgePosition="after" matBadgeColor="accent">
                    shopping_bag
                </mat-icon>
            </button>
        </div>
        <div class="nav-icon">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                @if(user$ | async){
                <a routerLink="/profile">
                    <button mat-menu-item>
                        <mat-icon>manage_accounts</mat-icon>
                        <span>Manage Account</span>
                    </button>
                </a>
                <button mat-menu-item (click)="onLogout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
                }
                @else{
                <a routerLink="/login">
                    <button mat-menu-item>
                        <mat-icon>login</mat-icon>
                        <span>Login</span>
                    </button>
                </a>
                }
            </mat-menu>

        </div>
    </div>
</nav>