@import "../../../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5% 0% 5%;

    z-index: 999;

    .logo-container {
        width: 5%;

        img {
            width: 100%;
        }
    }

    .nav-paths {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;

        a {
            position: relative;

            h3 {
                cursor: pointer;
                color: $color-dark;
                font-weight: 600;
                font-size: 0.85em;
            }
        }

        a::after {
            content: '';
            position: absolute;
            bottom: -10px;
            width: 0%;
            height: 1.5px;
            transition: 0.3s;
            border-radius: 50px;
            background: $color-dark;
        }

        a:hover::after {
            width: 100%;
        }

        .nav-dot {
            width: 1%;
        }
    }

    .search-bar {
        width: 30%;
    }

    .nav-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 10%;

        .nav-icon {
            cursor: pointer;

            button:hover {
                background: $bg-color;
            }

            .material-symbols-outlined {
                width: 100%;
                color: $color-dark;
                font-variation-settings:
                    'FILL' 0,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 40
            }
        }
    }

}