$color-light: #fafafa;
$color-dark: #212322;

.light {
    .nav-paths {
        a {
            h3 {
                color: $color-light;
            }
        }

        a::after {
            background: $color-light;
        }
    }
}

.dark {
    .nav-paths {
        a {
            h3 {
                color: $color-dark;
            }
        }

        a::after {
            background: $color-dark;
        }
    }
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 75px 0% 75px;

    z-index: 999;

    .logo-container {
        width: 7%;

        img {
            width: 100%;
        }
    }

    .nav-paths {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            position: relative;

            h3 {
                cursor: pointer;
            }
        }

        a::after {
            content: '';
            position: absolute;
            bottom: -10px;
            width: 0%;
            height: 1px;
            transition: 0.3s;
        }

        a:hover::after {
            width: 100%;
        }

        .nav-dot {
            width: 1%;
        }
    }

    .nav-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 13%;

        .nav-icon {
            width: 13%;
            cursor: pointer;

            img {
                width: 100%;
            }
        }
    }
}