<nav class="navbar" [ngClass]="navDark ?  'dark' : 'light'">
    <div class="logo-container">
        <img [src]="imgUrls.logoUrl" alt="">
    </div>
    <div class="nav-paths">
        <a routerLink="/home">
            <h2>HOME</h2>
        </a>
        <img class="nav-dot" [src]="imgUrls.dotUrl" alt="">
        <a href="">
            <h2>MEN</h2>
        </a>
        <img class="nav-dot" [src]="imgUrls.dotUrl" alt="">
        <a href="">
            <h2>WOMEN</h2>
        </a>
        <img class="nav-dot" [src]="imgUrls.dotUrl" alt="">
        <a href="">
            <h2>COLLECTION</h2>
        </a>
    </div>
    <div class="nav-icons">
        <div class="nav-icon">
            <img [src]="imgUrls.searchUrl" alt="">
        </div>
        <div class="nav-icon">
            <img [src]="imgUrls.cartUrl" alt="">
        </div>
        <div class="nav-icon">
            <a routerLink="/profile">
                <img [src]="imgUrls.profileUrl" alt="">
            </a>
        </div>
    </div>
</nav>