<div class="card-container">
    <div class="content-wrapper">
        <div class="content-header">
            <h1>Login</h1>
            <h3>Don't have an account?<span (click)="loginReg.toggleLogin()">Sign Up</span></h3>
        </div>
        <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

            <small *ngIf="loginForm.get('Username')?.invalid && loginForm.get('Username')?.touched">
                Please enter a valid email address.
            </small>

            <input placeholder="Email" type="email" name="Username" id="Username" formControlName="Username">

            <input placeholder="Password" type="Password" name="Password" id="Password" formControlName="Password">

            <button type="submit" [disabled]="loginForm.invalid">
                <h2>Login</h2>
            </button>
        </form>
    </div>
</div>