@import "../../../../../variables.scss";

h3 {
    color: $color-sec;

    span {
        margin-left: 10px;
        color: $color-dark;
        font-weight: 600;
        cursor: pointer;
    }
}

.card-container {
    width: 30%;
    background: $color-light;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    padding: 4% 5%;

    @media screen and (max-width: 1200px) {
        width: 40%;
        padding: 6% 7%;
    }

    @media screen and (max-width: 1100px) {
        width: 50%;
        padding: 6% 7%;
    }

    @media screen and (max-width: 900px) {
        width: 80%;
        height: 70vh;
        padding: 10% 15%;
        position: fixed;
        top: 30vh;
        left: 0%;
        margin-inline: 10% 10%;
        transform: translate(0%, 0%);
    }

    @media screen and (max-width: 650px) {
        width: 100%;
        margin-inline: 0%;
    }
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;

    @media screen and (max-width: 900px) {
        height: 50vh;
        gap: 20%;
    }
}

.content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-sec;
    outline: none;
    background-color: $color-light;
    padding-bottom: 2%;
    font-size: 0.8em;
    font-weight: 400;
    color: $color-dark;
}

button {
    width: 100%;
    text-align: center;
    background: $color-dark;
    cursor: pointer;
    border: none;
    padding: 4% 0%;
    margin-top: 30px;

    @media screen and (max-width: 900px) {
        margin-top: 30%;
    }

    h2 {
        color: $color-light;
    }
}

button:disabled {
    cursor: not-allowed;
    background: #c3c3c3;
}