@import "../../../../../variables.scss";

.grid-container {
    width: 100%;

    .grid-wrapper {
        display: grid;
        grid-template-columns: minmax(30%, 1fr) minmax(30%, 1fr) minmax(30%,
                1fr);
        column-gap: 2%;

        @media screen and (max-width: 950px) {
            grid-template-columns: minmax(30%, 1fr) minmax(30%, 1fr);
        }

        @media screen and (max-width: 500px) {
            grid-template-columns: minmax(30%, 1fr);
        }
    }
}