<div class="card-container">
    <div class="content-wrapper">
        <div class="content-header">
            <h1>Login</h1>
            <h3>Don't have an account?<span (click)="loginReg.toggleLogin()">Sign Up</span></h3>
        </div>
        <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
            <input placeholder="Username" type="text" name="username" id="username" formControlName="username">
            <input placeholder="Password" type="password" name="password" id="password" formControlName="password">
            <button type="submit">
                <h2>Login</h2>
            </button>
        </form>
    </div>
</div>