<div class="cart-menu-container" [ngClass]="cartService.isActive() ? 'active' : ''">
    <div class="bg-overlay" (click)="cartService.toggleActive()"></div>
    <div class="cart-menu">
        <div class="header-container">
            <h1>CART</h1>
        </div>
        @if(cartService.cart().length === 0){
        <p>Cart is empty!</p>
        }
        @else{
        <div class="items-container">
            @for(item of cartService.cart(); track item.product.id){
            <div class="item-container">
                <button class="remove-btn" (click)="cartService.removeFromCart(item.product)">
                    <mat-icon>delete_sweep</mat-icon>
                </button>
                <div class=" img-container">
                    <img [src]="item.product.image" [alt]="item.product.title">
                </div>
                <div class="title-container">
                    <h2>{{item.product.title}}</h2>
                </div>
                <div class="functionality-container">
                    <div class="quantity-container">
                        <button (click)="cartService.reduceQuantity(item.product)">-</button>
                        <div class="quantity">
                            <h2>{{item.quantity}}</h2>
                        </div>
                        <button (click)="cartService.increaseQuantity(item.product)">+</button>
                    </div>
                    <div class="price">
                        <h2>{{item.product.price * item.quantity | number:'1.2-2'}}$</h2>
                    </div>
                </div>
            </div>
            }

        </div>
        }
        <div class="bottom-container">
            <div class="total-price-container">
                <h2>TOTAL</h2>
                <h2>{{cartService.totalPrice() | number:'1.2-2'}} $</h2>
            </div>
            <button class="continue-btn" (click)="cartService.toggleActive()">
                <h2>Continue Shopping</h2>
            </button>
            <button class="confirm-btn" [disabled]="cartService.cart().length === 0">
                <h2>Confirm Order</h2>
            </button>
        </div>
    </div>
</div>