@import "../../../../../variables.scss";
@import "../../../../../default-styles.scss";

@keyframes displayFilter {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    width: 80%;
    margin: 7% 10% 4% 10%;
    background: $bg-color;

    .searchbar-container {
        width: 30%;
        height: 100%;
    }

    .filter-btn {
        background: none;
        border: none;
        cursor: pointer;

        .material-symbols-outlined {
            width: 100%;
            color: $color-sec;
            transition: color 0.3s ease-in;
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 40
        }
    }

    .filter-btn:hover {
        .material-symbols-outlined {
            color: $color-dark;
        }
    }
}

.collection-container {
    position: relative;
    display: flex;
    margin-bottom: 5%;
    width: 100%;

    @media screen and (max-width: 650px) {
        flex-direction: column;
    }

    .filter-container {
        width: 0%;
        height: 100vh;
        overflow-y: auto;
        transition: all 0.6s ease-in-out;

        @media screen and (max-width: 650px) {
            margin-inline: auto;
            display: none;
            margin-bottom: 5%;
        }

        &.active {
            width: 20%;

            @media screen and (max-width: 950px) {
                width: 30%;
            }

            @media screen and (max-width: 650px) {
                height: auto;
                display: block;
                animation: displayFilter 0.6s ease-in-out forwards;
            }
        }
    }

    .content-container {
        width: 100%;
        transition: all 0.6s ease-in-out;

        &.active {
            width: 80%;

            @media screen and (max-width: 650px) {
                width: 100%;
            }

            .products-container {
                width: 90%;

                @media screen and (max-width: 650px) {
                    width: 80%;
                }
            }
        }

        .products-container {
            width: 80%;
            margin-inline: auto;
            transition: width 0.6s ease-in-out;
        }
    }


}