<app-navbar></app-navbar>
<div class="header-container">
    <div class="searchbar-container">
        <app-searchbar></app-searchbar>
    </div>

    <button class="filter-btn" mat-icon-button (click)="isActive.set(!isActive())">
        <mat-icon class="material-symbols-outlined">filter_alt</mat-icon>
    </button>
</div>
<div class="collection-container">
    <div class="filter-container" [ngClass]="isActive() ? 'active' : ''">
        <app-filter [products]="products" [categories]="categories"
            (formValueChanged)="onFormValueChanged($event)"></app-filter>
    </div>
    <div class="content-container" [ngClass]="isActive() ? 'active' : ''">
        <div class="products-container">
            @if(formValues.sortBy !== 'category') {
            <app-products [products]="products" [sortBy]="formValues.sortBy" [price]="formValues.price"></app-products>
            }
            @else if(formValues.category.length > 0) {
            @for(category of formValues.category; track category){
            <app-products-swiper [toDisplay]="category"></app-products-swiper>
            }
            }
            @else{
            @for(category of categories; track category){
            <app-products-swiper [price]="formValues.price" [toDisplay]="category"></app-products-swiper>
            }
            }
        </div>
    </div>
</div>

<hr class="custom-divider">