<footer>
    <div class="footer-wrapper">
        <div class="footer-content">
            <a>
                <h2>Contact Us</h2>
            </a>
            <a>
                <h2>Size Guide</h2>
            </a>
            <a>
                <h2>FAQ</h2>
            </a>
            <a>
                <h2>Terms & Conditions</h2>
            </a>
            <a>
                <h2>Privacy Policy</h2>
            </a>
            <a>
                <h2>Shipping & Returns</h2>
            </a>
        </div>
        <div class="btn-container">
            <mat-icon>contact_support</mat-icon>
        </div>
    </div>
</footer>