@import "../../../../../variables.scss";
@import "../../../../../default-styles.scss";

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    .form-wrapper {
        width: 50%;
        height: 85vh;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title-container {
            h1 {
                font-size: 2em;
                font-weight: 600;
            }
        }

        form {

            .input-container {
                width: 100%;
                margin-top: 3%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid $color-sec;


                input {
                    width: 90%;
                    outline: none;
                    border: none;
                    padding: 0% 0% 1% 2%;
                    color: $color-sec;

                    &::placeholder {
                        color: $color-sec;
                    }

                    &::-ms-input-placeholder {
                        color: $color-sec;
                    }

                    &:focus {
                        color: $color-dark;

                        +label {
                            background: $color-dark;

                            h3 {
                                color: white;
                            }
                        }
                    }
                }

                label {
                    background: $bg-color;
                    padding: 1% 2%;
                    margin-bottom: 1%;
                    transition: all 0.5s;

                    h3 {
                        color: $color-sec;
                        font-weight: 600;
                    }
                }
            }

            .btn-container {
                width: 100%;
                margin-top: 6%;
            }
        }
    }
}