<div class="dashboard-container">
    <app-cart-menu></app-cart-menu>
    <app-hero></app-hero>
    <app-products-swiper [toDisplay]="toDisplay"></app-products-swiper>

    <div class="categories-container">
        <div id="electronics-wrapper" class="container-wrapper">
            <div id="electronics-cat" class="category-container">
                <h1>ELECTRONICS</h1>
            </div>
        </div>
        <div id="jewelry-wrapper" class="container-wrapper">
            <div id="jewelry-cat" class="category-container">
                <h1>JEWELRY</h1>
            </div>
        </div>
        <div id="clothing-wrapper" class="container-wrapper">
            <div id="clothing-cat" class="category-container">
                <h1>CLOTHING</h1>

                <a class="women-container">
                    <h2>WOMEN</h2>
                    <hr>
                </a>
                <a class="men-container">
                    <h2>MEN</h2>
                    <hr>
                </a>
            </div>
        </div>
    </div>

    <div class="cards-container">
        <div class="cards-wrapper">
            <div class="card-container">
                <div class="icon-container">
                    <mat-icon>credit_card</mat-icon>
                </div>
                <div class="content-container">
                    <h2>Secure Payment</h2>
                    <h3>credit card</h3>
                </div>
            </div>
            <div class="card-container">
                <div class="icon-container">
                    <mat-icon>local_shipping</mat-icon>
                </div>
                <div class="content-container">
                    <h2>Simplified Return</h2>
                    <h3>(under 60 days)</h3>
                </div>
            </div>
            <div class="card-container">
                <div class="icon-container">
                    <mat-icon>support_agent</mat-icon>
                </div>
                <div class="content-container">
                    <h2>Reliable Support</h2>
                    <h3>24/7 support</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="newsletter-container">
        <div class="newsletter-wrapper">
            <div class="newsletter-content">
                <div class="newsletter-title">
                    <h1>NEWSLETTER</h1>
                    <h3>Discover in preview all our new products, our latest actions and get 10$ off your first order by
                        subscribing to our newsletter!</h3>
                </div>
                <div class="newsletter-input">
                    <input type="email" placeholder="Type your email address here">
                    <button class="subscribe-btn">
                        <h3>Subscribe</h3>
                    </button>
                </div>
            </div>
            <div class="social-media-container">
                <div class="icons-container">
                    <button class="sm-icon">
                        <img src="https://img.icons8.com/?size=100&id=32309&format=png&color=212322"
                            alt="Instagram icon">
                    </button>
                    <button class="sm-icon">
                        <img src="https://img.icons8.com/?size=100&id=87253&format=png&color=212322"
                            alt="Instagram icon">
                    </button>
                </div>
                <h2>Stay up-to-date through our social media platforms!</h2>
            </div>
        </div>
    </div>