<app-navbar></app-navbar>
<div class="product-container">
    <div class="img-container">
        <img src="/assets/clothing-bg.jpg" alt="">
    </div>
    <div class="content-container">
        <div class="title-container">
            <h1>NIKE AIR JORDAN</h1>
            <h3>Description about the product, what it does, what it looks like about the product, what it
                does, what it looks like</h3>
        </div>
        <h2>$203</h2>
        <button>
            <h3>Add to Cart</h3>
        </button>
    </div>
</div>
<app-products-swiper></app-products-swiper>
<hr>